/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

body {
  background-color: #F0F8FF;
  color: #87CEFA;
}

h1 {
  color: #87CEEB;
  background-color: #6A5ACD;
  font-family: Helvetica, sans-serif;
  font-style: bold;
}

h2 {
  color: #87CEEB;
  font-style: oblique;
  text-align: center;
  border: 2px solid blue;
}

a {
  color: #87CEEB;
}

a:hover {
  color: #000000;
  font-size: 20px;
}

ul {
  background-color: #6A5ACD;
}
